:root {
    --primary: hsl(209, 59%, 45%);
    --accent: hsl(209, 51%, 30%);
    --secondary: hsl(214, 71%, 15%);
}

body {
    outline: 0;
    margin: 0 auto;
    padding: 0;
    width: 21cm;
    font-family: 'Consolas', monospace;
    background-color: var(--secondary);
    color: hsl(0, 0%, 0%);
}

body>* {
    background-color: hsla(0, 0%, 100%, 0.7);
}

header,
footer {
    text-align: center;
}

header>*,
#container>*,
footer>* {
    padding: 0.25em 0;
    border-width: 2.5px 0 2.5px 0;
    border-color: var(--primary);
    border-style: solid;
}

h1 {
    font-size: 1.5em;
}

figure {
    margin: 0;
}

figure>figcaption>a {
    color: inherit;
    pointer-events: none;
}

#container {
    display: flex;
    flex-direction: row;
}

#content {
    flex: 6;
}

#content>* {
    break-inside: avoid;
    break-after: auto;
}

#meta {
    flex: 2;
    padding: 1em;
}

#meta>* {
    break-inside: avoid;
    break-after: auto;
}

#profile-picture {
    border: 2px solid var(--primary);
    border-radius: 10px;
    height: 15em;
    display: block;
    margin: auto;
}

.pronunciation::before {
    content: '[';
}

.pronunciation::after {
    content: ']';
}

address {
    font-style: normal;
}

a {
    text-decoration: none;
    color: var(--accent);
}

meter {
    display: block;
    position: relative;
    width: 100%;
}

meter::after {
    content: attr(value) ' %';
    color: black;
    position: absolute;
    top: 0;
    left: 0.5em;
    line-height: 100%;
}

meter::-webkit-meter-bar {
    display: block;
    background: hsl(0, 0%, 95%);
    width: 100%;
    height: 1em;
}

meter::-webkit-meter-optimum-value,
meter::-webkit-meter-suboptimum-value,
meter::-webkit-meter-even-less-good-value {
    background: linear-gradient(to right,
            hsl(0, 100%, 60%) var(--meter-min-percent),
            hsl(40, 100%, 50%) var(--meter-low-percent),
            hsl(60, 100%, 45%) var(--meter-high-percent),
            hsl(120, 100%, 35%) var(--meter-optimum-percent),
            hsl(120, 100%, 35%) var(--meter-max-percent));

    background-size: calc(100% * (var(--meter-max) - var(--meter-min)) / var(--meter-value)) auto;
}

#content>div>p:nth-child(1) {
    color: hsl(0, 0%, 100%);
    background-color: var(--primary);
    text-transform: uppercase;
    padding: 0.5em;
}

ul>li {
    margin-bottom: 0.25em;
}

ul>li:nth-child(1) {
    margin-top: 0.5em;
}

ul>li:nth-last-child(1) {
    margin-bottom: 1em;
}

ul.jobs>li>.title,
ul.jobs>li>.company,
ul.jobs>li>.location {
    font-weight: bold;
}

ul.jobs>li>.duration {
    font-style: italic;
}

ul.jobs>li>.company::before {
    content: ', ';
}

ul.jobs>li>.location::before {
    content: ' - ';
}

ul.jobs>li>.duration::before {
    content: ' | ';
}

ul.courses>li>.duration,
ul.courses>li>.title {
    font-weight: bold;
}

ul.courses>li>.school,
ul.courses>li>.location {
    font-style: italic;
}

ul.courses>li>.title::before {
    content: ': ';
}

ul.courses>li>.school::before {
    content: ' | ';
}

ul.courses>li>.location::before {
    content: ', ';
}

@media print {
    audio {
        display: none;
    }

    figure>figcaption>a {
        color: var(--accent);
        pointer-events: all;
    }

    body {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-origin: border-box;
        background-position: 50% 50%;
        background-size: 1000vh;
    }
}
